/*#780000 dark red, #c1121f red, #003049 dark blue, #669bbc blue*/

body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

p{
  text-indent:10px;
}


.nomargin{
  margin: 0;
}

li{
    list-style-type: none;
  }

  a{
    text-decoration: none;
  }

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-style: solid; 
  }

  #drflag{
    border: 2px solid black;
    border-style: solid; 
  }

      .navbar-links ul{
        margin: 0;
        padding: 0;
        display: flex;
      }
      
      .navbar-links li{
        list-style: none;
      }
      
      .navbar-links li a{
      text-decoration: none;
      color: black;
      padding: 1rem;
      display: block;
      }
      
      .navbar-links li a:hover{
        color: #c1121f;
      }
      
      .toggle-button{
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
      }
      
      .toggle-button .bar{
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
      }
      
      @media(max-width: 600px) {
        .toggle-button{
          display: flex;
        }
        .navbar-links{
          display: none;
          width: 100%;
        }
        .navbar{
          flex-direction: column;
          align-items: flex-start;
        }
        .navbar-links ul{
          width: 100%;
          flex-direction: column;
        }
        .navbar-links li{
          text-align: center;
        }
        .navbar-links li a{
          padding: .5rem 1rem;
        }
        .navbar-links.active{
          display: flex;
        }
      }

      .article-columnleft{
        width: 40%;
        float: left;
        margin: 2%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        line-height: 1.7em;
    }

    .article-columnmid{
      width: 31.3%;
      float: left;
      margin: 2%;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }

    .article-columnright{
      width: 31.3%;
      float: left;
      margin: 2%;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }

    #content {
      overflow: auto;
      display: flex;
      flex-direction: row; 
      margin: 0 0 150px 0;
      /*background-color: rgb(247, 247, 247);*/
  }
  



      .Container-columnhome{
        display: flex;
        flex-direction:column ;
        justify-content: flex-start;
        align-items: center;
        /*margin: 50px;*/
        padding: 10px 50px;
        background-image: url("C:/Users/johnc/Desktop/Git_Repos/KR/Media_KR/klk4.jpg");
        background-size: cover;
        color: white;
        height: 200px;
        width: auto;
      }

      .Container-column{
        display: flex;
        flex-direction:column ;
        justify-content: flex-start;
        align-items: center;
        /*margin: 50px;*/
        padding: 10px 50px;
        background-image: url("C:Users/johnc/Desktop/Git_Repos/KR/Media_KR/klk4.jpg");
        background-size: cover;
        color: white;
        height: 200px;
        width: auto;
        }

      /*#footer2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #001f2f;
        color: white;
      } change it so the cards under "first class service" are in a row*/

      .Container-column1{
        display: flex;
        flex-direction:column ;
        justify-content: center;
        align-items: center;
        /*margin: 50px;*/
        padding: 10px 50px;
        margin: 40px 0 40px 0;
        /*background-color: rgb(247, 247, 247);*/
      }


      .line-break{
        float: left;
        width: 10%;
        height: 2.5px;
        margin: 10px 0;
        border: 4px dotted black;
        border-style: none none dotted; 
        color: #fff; 
      }

      .line-break1{
        float: left;
        width:10%;
        height: 5px;
        margin: 26px auto;
        border: 4px dotted black;
        border-style: none none dotted; 
        color: #fff; 
      }

      .line-breakh{
        width: 10%;
        height: 2.5px;
        margin: 10px 0;
        border: 4px dotted white;
        border-style: none none dotted; 
        color: #fff; 
      }

      .line-breaksolid{
        width: 30%;
        height: 2.5px;
        margin: 0;
        border: solid #c1121f;
        border-style: none none solid; 
        color: #fff; 
      }

      .line-red{
        border: 4px dotted #c1121f;
        border-style: none none dotted; 
        width:160px;
        height: 5px;
        margin: 26px auto;
      }
      .line-red1{
        width: 5%;
        height: 2.5px;
        margin: 10px 0;
        border: 4px dotted #c1121f;
        border-style: none none dotted; 
      }


      .line-white{
        width: 5%;
        height: 2.5px;
        margin: 10px 0;
        border: 4px dotted white;
        border-style: none none dotted; 
      }

      #menu-link {
        color: white;
        }

      #menu-linkb{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: black;
        border: 1px solid #c1121f;
        border-style: solid; 
        background-color: rgb(247, 247, 247);
        width: 223px;
        height: 47px;
        }

        .Container-column11{
          display: flex;
          flex-direction:column ;
          justify-content: center;
          align-items: center;
          /*padding: 10px 50px;*/
          margin: 40px 0 40px 0;
        }

        #menu-linkb:hover{
          background-color: #c1121f;
          color:white;
        }

        #menu-linkblack{
          color: black;
        }

.hours{
  color: #c1121f;
  font-size: 18px;
}



#footer{
    display: flex;
    flex-direction: column;
    background-color: #003049;
    color: white;
}

#footer2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #001f2f;
  color: white;
}

.footerh{
  color: #c1121f;
}

.white-a{
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

.white-a:hover{
  text-decoration: underline;
  color: #c1121f;
}

#center{
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 340px;
  height: 350px;
  perspective: 800px;
}

.container:hover > .card{
  cursor: pointer;
  transform: rotateY(180deg);
}

.card{
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front, .front2, .front3, .back, .back2, .back3{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*gap: 5rem;*/
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
  border-radius: 2rem;
}

.front{
  background-image: url("C:/Users/johnc/Desktop/Git_Repos/KR/Media_KR/sancocho2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.front2{
  background-image: url("C:/Users/johnc/Desktop/Git_Repos/KR/Media_KR/jugo3.1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.front3{
  background-image: url("C:/Users/johnc/Desktop/Git_Repos/KR/Media_KR/moro3.1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.back{
  background-color: rgb(247, 247, 247);
  color: black;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.back2{
  background-color: rgb(247, 247, 247);
  color: black;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.back3{
  background-color: rgb(247, 247, 247);
  color: black;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
/* testing code */
.testimonials{
  padding: 40px 0;
  background-color: rgb(247, 247, 247);
  color:black;
  text-align: center;
}

.inner{
  max-width: 1200px;
  margin: auto;
  overflow:hidden;
  padding: 0 20px; 
}

.border{
width:160px;
height: 5px;
background-color: #c1121f;
margin: 26px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;

}

.testimonial{
  background-color: #fff;
  padding: 30px;
  line-height: 1.7em;
}

.testimonial img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}

.stars{
  color: #c1121f;
  margin-bottom: 20px;
}

@media screen and (max-width:960px) {
.col{
  flex: 100%;
  max-width: 80%;
}
}

@media screen and (max-width:600px) {
  .col{
    flex: 100%;
    max-width: 100%;
  }
  }
/* testing code */